@import '../bootstrap.styl'

.v-grid
  box-sizing: border-box
  display: flex
  flex-direction: column
  padding: 0 .5rem

  +variant('container')
    margin: 0 auto
    max-width: 1200px
    width: 100%

  +variant('no-gutters')
    padding: 0

make-grids($breakpoints)
